@model List<Messages>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>User Information</h1>

@foreach (Messages m in Model)
{


    <h2> @m.UserId </h2>
    <p>@m.Message @m.PostedTime</p>

    @if (m.Updated == true)
    {
        <p>Edited</p>
    }

    @if (User.Identity.Name == m.UserId && m.Updated == false)
    {
        <a asp-action="Edit" asp-route-id="@m.Id"> Edit</a>
        <form method="post" asp-action="Deleted" asp-route-id="@m.Id">
            <input name="messages" />
            <button type="submit">Deleted</button>
        </form>
       
    }


}


<form method="post" asp-action="Message">
    <input name="message" />
    <button type="submit">Click here to message </button>
</form>


